@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .amazon-cta {
    background: linear-gradient(180deg,#f7dfa5,#f0c14b) repeat scroll 0 0 transparent;
    border-color: #9c7e31 #90742d #786025;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 40%);
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    padding-left: 32px;
    padding: 7px 12px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .amazon-cta:hover {
    background: linear-gradient(180deg,#f5d78e,#eeb933) repeat scroll 0 0 transparent;
  }

  .amazon-cta::before {
    background-image: url('images/icon-cart-black.svg');
    background-position: 9px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .amazon-product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  .amazon-prime-icon {
    background-image: url('images/E6vgqiIirWgGb3f.png');
    background-position: -185px -182px;
    display: block;
    height: 15px;
    width: 53px;
  }

  .amazon-product-title {
    border: none;
    box-shadow: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 10px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .amazon-product-title:hover {
    color: #eeb933;
  }
}
