@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

@tailwind components;
@tailwind utilities;

*[class^='apl'] {
  @apply apl-font-lib;
}

@layer components {
  .amazon-product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  .amazon-prime-icon {
    background-image: url('images/E6vgqiIirWgGb3f.png');
    background-position: -185px -182px;
    display: block;
    height: 15px;
    width: 53px;
  }

  .amazon-product-title {
    border: none;
    box-shadow: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 10px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .amazon-product-title:hover {
    color: #eeb933;
  }
}
